In [5]:
1.# We have the next Python Module
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2
b() #First call
# First thing,we are going to run the first call of b() ,the variable a is asssigned a value of 0
# After defining the function b(), the global parameter indicates that we are referring to the module level and not a local level 
# We call the function c(a) with the current value of a -> 0 
# Executing the expression a+2 = 2, so this function returns 2, updating the value of the variable  as 2 . 
b() #Second call
# The same as previous step, we call de function b(), with a=2 (updated)
# We call the function c(a) wit the current value of a -> 2
#Executing the expression a+2= 4, so this function returns 4, updating the value of the variable as 4 .
b() #Third call
# Again. the same step, we call de function b(), with a=4(updated)
# We call the function c(a) wit the current value of a -> 4
#Executing the expression a+2= 6, so this function returns 6, updating the value of the variable as 6
print(a) # Finally we show the updated value of a.

6

In [56]:
#2.We need a function that show the length of a file, otherwise it will the message "File--- not found"
def fileLength(nombrearchivo):
    try:
        with open(nombrearchivo, 'r') as infile: #Open the file and read it
            contents = infile.read()  #Read the content of the file
            return len(contents)      # Return the length of the content or the file
    except FileNotFoundError:
        print(f"File {nombrearchivo} not found.")#If the file is not found on the system
    except Exception as e:
        print(f"Sorry, we are having problems right now : {e}") #Other types of errors

# Exexuting the code with the example
longitud = fileLength("filelength.txt")  # 
if longitud is not None:
    print(f"The length of the file is: {longitud}")

The length of the file is: 123

In [66]:
#3. Create the Marsupial class, then initialize an empty list that include all the items that we want
class Marsupial:
    def __init__(self):
        self.pouch = []
# Create a function that append the item that we awant to include in our list
    def put_in_pouch(self, particula):
        self.pouch.append(particula)
#Return the list
    def pouch_contents(self):
        return self.pouch

#Create the Kangaroo class as a subclass of Marsupial
class Kangaroo(Marsupial):
#  Extend the constructor of Marsupial, then coordinates x and y 
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
#Updating the x and y coordinates 
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
#Return the string with the coordiantes
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
#Examples
k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [68]:
#4.Define the function "collatz"
def collatz(x):
    print(x)
    
# Take in mind, if the number reach one, the sequence stop
    if x == 1:
        return
    
# Apply collatz function, if the number is even , divide it by 2, otherwise, aplly 3x+1
    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
#Required example
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [78]:
#5. Define the binary function
def binary(n):
# For 0 and 1 binary does not changes
    if n < 2:
        print(n, end='')
    else:
        # Otherwise print the binary representation of the requested number
        binary(n // 2)
        print(n % 2, end='')
#Examples
binary(0)   
print()     
binary(1)   
print()
binary(3)   
print()
binary(9)   
print()

0
1
11
1001

In [88]:
#6. Import HTMLParser
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
#Initialize the parent HTLMParser with the current tag as 0
    def __init__(self):
        super().__init__()
        self.current_clave = None
#Finding the tags checking if there is any on the list
    def handle_starttag(self, clave, attrs):
        if clave in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_clave = clave

    def handle_endtag(self, clave):
 # Finding the closing tag and assign 0 to it t
        if clave == self.current_clave:
            self.current_clave = None

    def handle_data(self, data):
# If inside a heading tag, print the heading data with the correct indentation
        if self.current_clave and data.strip():
            # Determine the indentation level
            level = int(self.current_clave[1]) - 1
            print(" " * level + data.strip())
#Example
# Using w3c.html after being change from .txt for .html
#Open and read the file
infile = open('w3c.html')
contenido = infile.read()
infile.close()

# Showing the content
hp = HeadingParser()
hp.feed(contenido)

W3C Mission
 Principles

In [134]:
#7. 
import requests
import re
#Calling the function webdir, if depth is less than 0 then the sequence stop
def webdir(url, depth, indent):
    if depth < 0:
        return  
#Print the Url based on the indent parameter
    print(" " * indent + url)
    
    try:
# Find the content of the HTML
        respuesta = requests.get(url)
        respuesta.raise_for_status()  # Create an except block if the request faile
    except requests.exceptions.RequestException:
        return    
# Finds all instances of the  href="..." in the html content.
    links = re.findall(r'href="([^"]+)"', respuesta.text)

# Converting relative URL to an absolute URL based on the started URL
    for link in links:
        next_url = requests.compat.urljoin(url, link)
#Visit each link with new indentation and depth
        webdir(next_url, depth - 1, indent + 1)

# Example
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 4)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 6)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 4)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 6)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
      http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
      http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [17]:
#8. Import sqlite3 to develop the sql queries , after this we import tabulate which is a external library that will help us  to format the tuples into table.

import sqlite3
from tabulate import tabulate

# Now we connect to the Sql database 
conn = sqlite3.connect(':memory:')  # Using in-memory database for demonstration
cursor = conn.cursor()

# Creating the main table
cursor.execute('''
    CREATE TABLE Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

# Inserting data into the main table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]
cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?, ?, ?)', data)

# Executing all the process and display the results
def display_query(query, headers):
    cursor.execute(query)
    filas = cursor.fetchall()
    print(tabulate(filas, headers=headers, tablefmt="grid"))

# a) All the temperature data
print("The temperature of the cities is:")
display_query('SELECT Temperature FROM Weather', ["Temperature"])

# b) All the cities, but without repetition
print("The cities without repetition are :")
display_query('SELECT DISTINCT City FROM Weather', ["City"])

# c) All the records for India
print("Mumbai Weather is:")
display_query("SELECT * FROM Weather WHERE Country = 'India'", ["City", "Country", "Season", "Temperature", "Rainfall"])

# d) All the Fall records
print("The Fall records are :")
display_query("SELECT * FROM Weather WHERE Season = 'Fall'", ["City", "Country", "Season", "Temperature", "Rainfall"])

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
print("Average Rainfall between 200 and 400 mm:")
display_query('''
    SELECT City, Country, Season
    FROM Weather
    WHERE Rainfall BETWEEN 200 AND 400
''', ["City", "Country", "Season"])

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
print("Fall Temperature above 20 degrees:")
display_query('''
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall' AND Temperature > 20
    ORDER BY Temperature ASC
''', ["City", "Country"])

# g) The total annual rainfall for Cairo
print("Total Annual Rainfall for Cairo:")
display_query('''
    SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall
    FROM Weather
    WHERE City = 'Cairo'
    GROUP BY City
''', ["City", "Total Annual Rainfall"])

# h) The total rainfall for each season
print("Total Rainfall for Each Season:")
display_query('''
    SELECT Season, SUM(Rainfall) AS Total_Rainfall
    FROM Weather
    GROUP BY Season
''', ["Season", "Total Rainfall"])

# Close connection
conn.close()

The temperature of the cities is:
+---------------+
|   Temperature |
+===============+
|          24.8 |
+---------------+
|          28.4 |
+---------------+
|          27.9 |
+---------------+
|          27.6 |
+---------------+
|           4.2 |
+---------------+
|           8.3 |
+---------------+
|          15.7 |
+---------------+
|          10.4 |
+---------------+
|          13.6 |
+---------------+
|          20.7 |
+---------------+
|          27.7 |
+---------------+
|          22.2 |
+---------------+
The cities without repetition are :
+--------+
| City   |
+========+
| Mumbai |
+--------+
| London |
+--------+
| Cairo  |
+--------+
Mumbai Weather is:
+--------+-----------+----------+---------------+------------+
| City   | Country   | Season   |   Temperature |   Rainfall |
+========+===========+==========+===============+============+
| Mumbai | India     | Winter   |          24.8 |        5.9 |
+--------+-----------+----------+---------------+------------+
| Mumbai | India     | Spring   |          28.4 |       16.2 |
+--------+-----------+----------+---------------+------------+
| Mumbai | India     | Summer   |          27.9 |     1549.4 |
+--------+-----------+----------+---------------+------------+
| Mumbai | India     | Fall     |          27.6 |      346   |
+--------+-----------+----------+---------------+------------+
The Fall records are :
+--------+----------------+----------+---------------+------------+
| City   | Country        | Season   |   Temperature |   Rainfall |
+========+================+==========+===============+============+
| Mumbai | India          | Fall     |          27.6 |      346   |
+--------+----------------+----------+---------------+------------+
| London | United Kingdom | Fall     |          10.4 |      218.5 |
+--------+----------------+----------+---------------+------------+
| Cairo  | Egypt          | Fall     |          22.2 |        4.5 |
+--------+----------------+----------+---------------+------------+
Average Rainfall between 200 and 400 mm:
+--------+----------------+----------+
| City   | Country        | Season   |
+========+================+==========+
| Mumbai | India          | Fall     |
+--------+----------------+----------+
| London | United Kingdom | Winter   |
+--------+----------------+----------+
| London | United Kingdom | Fall     |
+--------+----------------+----------+
Fall Temperature above 20 degrees:
+--------+-----------+
| City   | Country   |
+========+===========+
| Cairo  | Egypt     |
+--------+-----------+
| Mumbai | India     |
+--------+-----------+
Total Annual Rainfall for Cairo:
+--------+-------------------------+
| City   |   Total Annual Rainfall |
+========+=========================+
| Cairo  |                    27.6 |
+--------+-------------------------+
Total Rainfall for Each Season:
+----------+------------------+
| Season   |   Total Rainfall |
+==========+==================+
| Fall     |            569   |
+----------+------------------+
| Spring   |            192.3 |
+----------+------------------+
| Summer   |           1706.5 |
+----------+------------------+
| Winter   |            230.1 |
+----------+------------------+

In [23]:
#9. Create the list of words
palabras = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Convert all words to uppercase
mayuscula = [word.upper() for word in words]

# b) Return all words to lowercase
minuscula = [word.lower() for word in words]

# c) Lenght of each word
longitudpalabras = [len(word) for word in words]

# d) Create a list with the three points from the list above
join = [[word.upper(), word.lower(), len(word)] for word in words]

# e) Filter words with 4 or more characters
fourplus = [word for word in words if len(word) >= 4]

# Outputting the results
(mayuscula, minuscula, longitudpalabras, join, fourplus)

(['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG'],
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'],
 [3, 5, 5, 3, 5, 4, 3, 4, 3],
 [['THE', 'the', 3],
  ['QUICK', 'quick', 5],
  ['BROWN', 'brown', 5],
  ['FOX', 'fox', 3],
  ['JUMPS', 'jumps', 5],
  ['OVER', 'over', 4],
  ['THE', 'the', 3],
  ['LAZY', 'lazy', 4],
  ['DOG', 'dog', 3]],
 ['quick', 'brown', 'jumps', 'over', 'lazy'])